@font-face {
    src: url('../assets/fonts/Roboto-Regular.ttf');
    font-family: 'Roboto';
    font-weight: 400;
}

@font-face {
    src: url('../assets/fonts/Roboto-Bold.ttf');
    font-family: 'Roboto';
    font-weight: bold;
}

@font-face {
    src: url('../assets/fonts/Raleway-VariableFont.ttf');
    font-family: 'Raleway';
}

@font-face {
    src: url('../assets/fonts/Merriweather-Regular.ttf');
    font-family: 'Merriweather';
}
