@import 'fonts';

:root {
    --color-bg: rgb(40, 44, 52);
    
    --color-primary: rgb(97, 218, 251);
    --color-primary-dark: rgb(26, 64, 74);

    --text-primary: white;
    --text-secondary: rgb(200, 200, 200);

    --table-primary: rgba(53, 61, 79, 0.3);
    --table-secondary: rgba(53, 61, 79, 0.7);

    --container-margin: 50px;
}

*,
*::before,
*::after {
    list-style: none;
    color: inherit;
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

#root {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-height: 100vh;
    display: flex;
}

body {
    background-color: var(--color-bg);
    color: var(--text-primary);
    font-family: Roboto;
    overflow-x: hidden;
    font-size: 1rem;
}

img {
    max-width: 100%;
    height: auto;
}

svg {
    width: 1rem;
}

button {
    cursor: pointer;
}

.errorText {
    text-align: center;
}
